streamlit
yfinance
google-generativeai
plotly
requests
beautifulsoup4
pandas
pyyaml
pandas_ta
alpaca-py
matplotlib
fredapi
investpy
pytz>=2023.3
lxml>=4.9.0
html5lib>=1.1









